/* Imports */
@import './fonts.less';
@import './variables.less';

/* Stiziles */

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;

  user-select: none;
}

body {
  font-family: 'Josefin Sans';

  background: #f2f2f2;
}

h1, h2, h3, h4, .button {
  font-family: 'Shadows Into Light', cursive;
}

/* main */

#content {
  width: 100%;
  height: 100%;
}

.viewport {
  background-image: linear-gradient(to bottom, @color-blue-light, @color-blue);
  color: #fff;
  box-shadow: 0px 0px 0.5rem #444;
}

.scene {
  width: 100%;
  height: 100%;

  &.intro {
    padding: 4.0rem;
  }

  &.game {
    background-image: linear-gradient(to bottom, darken(@color-blue-light, 5%), @color-blue-dark);
  }
}

.game-object {
  position: absolute;
}

.bubble {
  @width: 11.25rem;

  width: @width;
  position: absolute;
  font-size: 1.1rem;

  background-color: @color-blue-darker;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;

  text-shadow: 0px 0px 12px #222;
  box-shadow: 0px 0px 8px #222;

  &.bubble-row-1 {
    left: @padding-default;
    top: @padding-default;
  }

  &.bubble-row-2 {
    left: @padding-default + @width + @padding-default;
    top: @padding-default;
  }

  &.bubble-row-3 {
    left: @padding-default + (@width + @padding-default) * 2;
    top: @padding-default;
  }

  &.bubble-row-4 {
    left: @padding-default + (@width + @padding-default) * 3;
    top: @padding-default;
  }
}

.button {
  position: absolute;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: bold;

  background-color: @color-olive-dark;
  border: 1px solid @color-olive-darker;
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  transition: all 400ms;
  text-shadow: 0px 0px 12px #222;
  box-shadow: 0px 0px 8px #222;

  &:hover {
    background-color: lighten(@color-olive-dark, 10%);
  }

  &.button-next {
    bottom: 1.0rem;
    right: 1.0rem;
  }

  &.button-build {
    bottom: 1.0rem;
    left: 1.0rem;
  }

  &.button-quests {
    bottom: 1.0rem;
    left: 8.0rem;
  }
}

.progress-bar {
  position: absolute;
  height: 1.0rem;
  width: 40rem;
  top: 4.5rem;
  margin-left: 5rem;

  background-color: @color-blue-dark;
  border: 1px solid @color-blue-darker;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 8px #222;

  overflow: hidden;

  .progress-bar-active {
    background-color: lighten(@color-blue-lighter, 30%);
    height: 100%;
  }
}

.credits {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 180px;
  height: 60px;
  background-color: rgb(33, 33, 33);
  opacity: 0.6;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  color: #fff;

  .name {
    height: 16px;
  }
}
