/* Imports */
@import './fonts.less';

/* Stiziles */

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;

  user-select: none;
}

body {
  font-family: 'Josefin Sans';

  background: #f2f2f2;
}

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light', cursive;
}

/* main */

#content {
  width: 100%;
  height: 100%;
}

.viewport {
  background-image: linear-gradient(to bottom, #fefefe, #d5d5d5);
}

.scene {
  &.intro {
    padding: 40px;
  }
}

.game-object {
  position: absolute;
}

.credits {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 180px;
  height: 60px;
  background-color: rgb(33, 33, 33);
  opacity: 0.6;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  color: #fff;

  .name {
    height: 16px;
  }
}
